body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.evento {
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}